*{
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.post-image {
  display: block;
}
.post-title {
  color: black;
  font-size: 40px;
  font-weight: bold;
  border-bottom:#666 1px solid;
}

.btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.all-header{
  width: 100%;
  height: 10vh;
  background-color: #f8f8f8f8;
  margin-bottom: 60px;
}

.header {
  background-color: gray;
  width: 50%;
  margin: 10px 25%;
  border-bottom: solid 6px #333333;
  border-radius: 9px;
}

.inner-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.title{
  margin-left: 20px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  border-bottom:#666 1px solid;
}

.new-post{
  width: 100px;
  height: 50px;
  line-height: 50px;
  margin-left: 50px;
  text-align: center;
}

.post-btn{
  padding: 11px 10px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  border-radius: 3px;
}



.main{
  width: 100%;
  height: 90vh;
  background-color: #f8f8f8f8;
  display: flex;
  justify-content: center;
}

.message-wrap{
  width: 50%;
  height: 100%;
  background-color: white;
  overflow: scroll;
}

.message{
  width: 100%;
  height: 20%;
  margin: 0px auto 400px;
  padding: 0 20px;
}

.text{
  height: 60%;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.tag{
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.tag-list{
  margin-bottom: 10px;
}

.post-text {
  overflow-y: scroll;
}

.header__bar_row {
  background-color: black;
  color: white;
  width: 100%;
  height: 10vh;
  text-align: center;
}
.footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 10vh;
  text-align: center;
}

.more {
  border-bottom: 1px solid black;
}

.studyport {
  text-decoration: none;
  color: white;
}

.more-list {
  margin: 0 ;
  padding: 0 ;

}

.post-menu {
  list-style: none;
  display: inline-block;
  width: 18%;
  min-width: 90px;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #4ec4d3;/*左線*/
  border-right: double 7px #4ec4d3;/*右線*/
  text-align: center;
  margin-right: 40px;
}

.post-menu-link {
  text-decoration: none;
  color: #474747;
}

.user-log {
  display: flex;
  margin: 10px auto;
}

.user-log-1 {
  margin-left: 20px;
  margin-right: 30px;
}