*{
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.header{
  width: 100%;
  height: 10vh;
  background-color: #f8f8f8f8;
  display: flex;
  justify-content: center;
}

.inner-header{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.title{
  font-size: 40px;
  font-weight: bold;
}

.new-post{
  width: 100px;
  height: 50px;
  line-height: 50px;
  margin-left: 50px;
  text-align: center;
}

.post-btn{
  padding: 11px 10px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  border-radius: 3px;
}



.main{
  width: 100%;
  height: 90vh;
  background-color: #f8f8f8f8;
  display: flex;
  justify-content: center;
}

.message-wrap{
  width: 50%;
  height: 100%;
  background-color: white;
  overflow: scroll;
}

.message{
  width: 100%;
  height: 20%;
  margin: 0px auto 150px;
  padding: 0 20px;
  border-bottom:#666 1px solid;
}

.text{
  height: 60%;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.tag{
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.tag-list{
  margin-bottom: 10px;
}